
{% load i18n %}

<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
		<!-- All the files that are required -->
<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
<link href='http://fonts.googleapis.com/css?family=Varela+Round' rel='stylesheet' type='text/css'>
{%load static %}
<link rel="stylesheet" href="{% static 'app/style.css' %}">
<script src="{% static 'app/script.js' %}">
<script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.13.1/jquery.validate.min.js"></script>
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />

	<title>Document</title>
</head>

<body>

<!-- Where all the magic happens -->
<!-- LOGIN FORM -->
<div class="text-center login-class" >
	
<h1>{{ title }}</h1>
	<div class="login-form-1">
		You have been Successfully verified.Please Login To Continue
Password reset complete

Your password has been set. You may go ahead and log in now.
<p>{% trans 'Your password was changed.' %}</p>
 <a href="{% url 'app:login' %}">	Login  </a>



	</div>
	
</div>

</body>
</html>